#root.root {
	--big-rounding: 13px;
	--frame-bg: #EBEBEB;
	--toolbar-bg: rgba(255,255,255,0.9);
	--tabs-indent: 15px;
}

.main-items {
	--nav-btn-margin: 0px;
 	--btn-size: 20px;
	--nav-btn-height: 30px;
	--nav-btn-width: 30px;

}

.NavigationBar.-top {
	--margin: 0px;
	--general-margin: 0px;
	--nav-btn-margin: 0px;
	padding-bottom: 3px; 
}

.PinnedTabsBar .Tab .body:hover{
  --s-frame-bg: rgb(230, 230, 230);
	--toolbar-bg: rgb(240, 240, 240);
}

.PinnedTabsBar .Tab {
	--s-frame-fg: rgb(190, 190, 190);
}

